body {
    background-image: url('/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

#contenido {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

#bg {
    width: 225px;
    margin-left: 45px;
    margin-top: 5px;
}

#formulario{
    background-color: #00000091;
    color: #FFF;
    margin: 0px auto;
    width: 450px;
    height: 600px;
    border-radius: 5px;
    padding: 30px 70px;
    transition: background-color 1s ease-in-out;
}

#formulario h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.txt{
    background-color: #333232;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    border: none;
    border-radius: 2px;
    padding: 0px 20px;
    color: white;
    
}

.botn{
    border: none;
    margin-top: 40px;
    margin-bottom: 7px;
    border-radius: 4px!important;
    width: 100%;
    height: 47px;
    background-color: #E40915!important;
    font-family: Helvetica;
    font-size: 1rem;
    color: #FFF;

}

.help{
    color: #FFF;
    text-decoration: none;
    float: right;
}

.botn:hover {
    background-color: #aa2a37!important;
    text-decoration: underline;
}

#remember:hover{
    cursor: pointer;
}

/*.change:hover{
    background-color: #b35e6396!important;
    cursor: pointer;
}*/

/* / Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    #formulario{
        background-color: #00000091;
        color: #FFF;
        width: auto;
        height: 100%;
        padding: 20px 18px;
    }

    body{
        background-image: none;

    }
    #bg{
        width: 90px;
        margin-left: 3px;
        margin-top: 9px;
    }

  }

/*/ Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/*/ Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/*/ X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*/ XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }